/**************************************************** GENERAL ************************************************/
*{ margin: 0; }
body{ font-family : verdana; font-size: 12px; }
a{ text-decoration: none; color: #000; }
.conteneur{ margin: 0 auto; max-width: 1170px; width: 100%;}
.conteneur a{ margin-right: 25px;margin-left: 25px;}
a.panier_s {
  margin-left: 150px;
  position: fixed;
  right: 20%;
  top: 0.5%;
  padding: 10px;
}
a:hover.panier_s {
background-color: rgba(190, 170, 170, 0.5);
text-transform:capitalize;
text-decoration: underline;
text-decoration-style:wavy;
height: 12px;
margin-top: 2px;
}
/**************************************************** HAUT ************************************************/
header {margin-left: 6px;width: 98%; background: #000000; padding: 12px; text-align: center; margin-top: 3px;}
header  span{ color: #fff; font-weight: bold; text-transform: uppercase; margin-right: 5%; }
header  nav{ display: inline; width: auto;}
header  a{ color: #ffffff; text-decoration: none; padding: 5px 5px; }
header  nav  a:hover{ background: #04baf6; border-radius: 4px; margin-right: 10px;margin-left: 12px;padding-left: 15px;padding-right: 15px;}
header .m_adm {
  position: relative;
  right: 5%;
  display: inline;
}

header .m_mem {
  position: relative;
  top: 5px;
  left: 23.25%;
  display: inline;
}
/**************************************************** MILIEU ************************************************/
section{ padding: 30px; min-height: 800px; }
.status {
  position: fixed;
  width: auto;
  top:1.5%;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  background-color: rgba(150, 190, 150, 0.3);
}

.status:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.visiteur {
  background-color: rgba(200, 150, 150, 0.3);
}
/**************************************************** BAS ************************************************/
footer{ background: #000; color: white; text-align: center; padding: 7px 0; position: fixed; bottom: 0.25%; width: 100%; box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.9);}
/**************************************************** GENERAL ************************************************/
.erreur{ background: #ff0000; padding: 5px; margin: 5px; }
.validation{ background: #669933; padding: 5px; margin: 5px; }
.cadre{ border: 1px solid #c0c0c0; width: 30%;}
.cadre  h2{ background: #c0c0c0; margin: 0; text-align: center; font-size: 15px; padding: 5px; }
.cadre  p{ padding: 10px; }
.centre{text-align: center;}
/**************************************************** BOUTIQUE ************************************************/
.boutique-gauche{ float: left; width: 30%; background: #f2f2f2; min-height: 500px; margin-right: 10%; padding-top: 10px; text-align: center; }
.boutique-gauche  ul{ list-style: none; padding: 0; }
.boutique-gauche  ul  li  a{ display: block; padding: 10px; }
.boutique-gauche  ul  li  a:hover{ background: #04baf6; color: #fff; }
.boutique-droite{float: left; width: 60%; }
.boutique-produit{ float: left; width: 30%; text-align: center; padding: 5%; border-bottom: 1px solid #c0c0c0; }
.boutique-produit:hover{ background: #c0c0c0; }
/**************************************************** DIVERS ************************************************/
table{ border-collapse: collapse; }
table tr td{
text-align: center;
}
td, th{ padding: 5px; }
/**************************************************** INSCRIPTION ************************************************/
.formulaire_obj {
  width: 90%;
  position: absolute;
  left:2%;
  margin-left: 1%;
  margin-right: 1%;
  height: 80%;
  /**border: 1px solid black;*/
  padding: 2%;
  margin-top: -0.5%;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  border-radius: 1.5%;
  background-color: rgba(200, 200, 200, 0.5 );
}

.formulaire_form {
  width: 25%;
  height: 590px;
  /**border: 1px solid black;*/
  padding: 1%;
  left:20%;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  text-align:right;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
  border-radius: 2%;
  background-color: rgba(255, 255, 255, 0.8);
}

.formulaire_form h3 {
  text-align: center;
  margin-bottom: 10%;
  margin-top: 5%;
  font-size: 22px;
  color: rgba(0, 0, 0, 0.8);
}

.formulaire_form label {
  margin-right: 20px;
  float: left;
}

.formulaire_form label, input, textarea, {
margin: 0.5%;
margin-bottom: 3%;
margin-right: 5%;
}

.formulaire_form input, textarea{
box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
margin-right: 5%;
}

.choix_civilite {
margin-right: 4.5%;
}

.choix_civilite label {
margin-left: 4.5%;
}

.pseutomail, .choix_civilite, .viltoadr {
  padding: 10px;
  width: 85%;
  /**border: 1px solid black;*/
  float:right;
  display:block;
}

.login {
  padding: 30px;
  padding-left:50px;
  padding-right:50px;
  /**border: 1px solid black;*/
  margin-left: 10px;
  margin-right:10px;
  border-radius: 10px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);

}
